@import "@/App/styles/variables/global.scss";
@import "@/App/styles/themes/dark.scss";
@import "@/App/styles/themes/normal.scss";

.content_page {
  display: flex;
}
.page_wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
  height: calc(100vh - 50px);
  overflow-y: auto;
  width: 100%;
}
a {
  text-decoration: none;
}
